global
  maxconn 100

defaults
  mode tcp
  timeout connect 10s
  timeout client 1m
  timeout server 1m

frontend postgresql
  bind *:5000
  default_backend postgresql-backend

backend postgresql-backend
  option httpchk GET /patroni
  server postgres0 postgres0:5432 check port 8008
  server postgres1 postgres1:5432 check port 8009
